go 1.21.3

use (
	./arrays
	./conditions
	./constant
	./functions
	./hello-world
	./loops
	./print-println-printf
	./rewalk/looping
	./rewalk/slice
	./slices-data-type
	./struct
	./switch
	./type-declaration
	./variables-etc
)
